.idea
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
build
dist
.vscode

results/assets
results/*/*.png
results/*/*.exr
!results/resources/images

assets/*/*
!assets/gallery/*
!assets/*/*.xml