[submodule "external/misaki-utils"]
	path = external/misaki-utils
	url = https://github.com/neverfelly/misaki-utils.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/rttr"]
	path = external/rttr
	url = https://github.com/neverfelly/rttr.git
